body{
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.search-bar input,button{
  font-size:3em;
  border-radius: 25px;
  color:gray;
  border-color: none;
  border-style:none;
  padding: 0.1em;
  margin: 0.1em;
}

.search-bar button{
  color:gray;
  background-color:white;
  border: 0.1em solid gray;
}

.search-results{
  height:50%;
  /* not working lol need to be modified */
}

#search-result-item{
  font-size: 2em;
  margin: 0.1em
}

#search-result-item:hover{
  background-color: #BADA55;
}
